.counter-btn,
.counter-display {
  border: 5px solid grey;
  border-radius: 1em;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 1.5rem;
}

.counter-display {
  padding: 100px;
  width: fit-content;
}

.counter-btn {
  width: 100px;
  height: 75px;
}
